[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
names = "*"
networkx = "*"
nltk = "*"
pymupdf = "*"
scikit-learn = "*"
ortools = "*"
plotly = "*"
click="8.0.4"
Exit="*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.8"
